@use '@angular/material' as mat;

$primary-palette: mat.define-palette(mat.$blue-grey-palette);
$accent-palette: mat.define-palette(mat.$amber-palette);

$nightly-theme: mat.define-dark-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
  ),
));

@include mat.all-component-themes($nightly-theme);

:root {
  --primary-color: #{mat.get-color-from-palette($primary-palette)};
  --accent-color: #{mat.get-color-from-palette($accent-palette)};
}
