@use 'sass:map';
@use "@angular/material" as mat;

@import "../styles.scss";


$theme-config: mat.get-color-config($my-custom-theme);

/* Extracting color config: */
$primary-palette: map.get(
  $theme-config, "primary"
);

$custom-palette: map.get(
  $theme-config, "custom"
);

$warn-palette: map.get(
  $theme-config, "warn"
);
/* ----------------------- */

.parent {
  display: flex;
  font-family: serif;
}

.btn {
  border-radius: 50%;
  width: 132px;
  height: 132px;
  color: mat.get-color-from-palette($primary-palette, 800);
  background-color: mat.get-color-from-palette($primary-palette, 100);
  
  font-size: 32px;
}
