@use 'sass:map';
@use '@angular/material' as mat;

@import './app/themes/theme1.scss';
@import './app/themes/theme2.scss';
@import './app/themes/theme3.scss';
@import './app/themes/theme4.scss';


$theme: $theme3; // Default theme

@mixin apply-theme($theme) {
  $theme-map: (
    theme1: $theme1,
    theme2: $theme2,
    theme3: $theme3,
    theme4: $theme4
  );

  $theme: map.get(
    $theme-map,
    $theme
  );

}

@include mat.core-theme($theme);

.theme1 {
  @include apply-theme('theme1');
}

.theme2 {
  @include apply-theme('theme2');

}

.theme3 {
  @include apply-theme('theme3');

}

.theme4 {
  @include apply-theme('theme4');
}


