@use "sass:map";
@use '@angular/material' as mat;

@import "../../styles.scss";


$theme-config: mat.get-color-config($theme);

$primary-palette: map.get(
  $theme-config, "primary"
);

.btn {


  color: mat.get-color-from-palette(
    $primary-palette, 500
  );

  background-color: mat.get-color-from-palette(
    $primary-palette, 300
  );
}